{% extends "base_public.html" %}
{% block content %}

<div class="glass hero-card">
  <h2>Welcome back</h2>

  <form method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <input name="email" type="email" placeholder="Email" required>
    <input name="password" type="password" placeholder="Password" required>

    <div class="action-row">
      <button class="btn btn-primary">Login</button>
      <a href="/register" class="btn">Create account</a>
    </div>
  </form>
</div>

{% endblock %}

