{% extends "base_public.html" %}
{% block content %}

<div class="glass hero-card">
  <h2>Create your account</h2>

  <form method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <input name="name" placeholder="Full Name" required>
    <input name="email" type="email" placeholder="Email" required>
    <input name="password" type="password" placeholder="Password" required>

    <div class="action-row">
      <button class="btn btn-primary">Register</button>
      <a href="/login" class="btn">Already have an account?</a>
    </div>
  </form>
</div>

{% endblock %}
